@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

@font-face {
  font-family: 'Greenwinit-logo';
  /**
   * https://github.com/googlefonts/geologica/blob/main/fonts/ttf/Geologica-ExtraBoldItalic.ttf
   * and transform ttf to woff2
   */
  src: url('/Geologica-ExtraBoldItalic.woff2') format('woff2');
  /* 로고가 다른 폰트로 보여지만 좋지 않기 때문에 숨김처리 */
  font-display: block;
}

:root {
  /* @MEMO Pretendard 만큼 수트라는 폰트도 꽤 괜찮다고 들었습니다. https://sun.fo/suit/ */
  font-family: Pretendard, Roboto, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100svh;
  background-color: white;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  cursor: pointer;
}

/**
 * react-datepicker
 */
.react-datepicker__header {
  background-color: transparent;
  border-bottom: 0;
}
.react-datepicker__current-month {
  && {
    margin-bottom: 1.5rem;
  }
}
.react-datepicker__month {
  margin-top: 0;
}
.react-datepicker__day-names {
  border-top: 1px solid var(--color-lighter-gray-border);
}
.react-datepicker__day--outside-month {
  color: var(--color-light-gray);
}
.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  border-radius: 100%;
  background-color: var(--color-mountain_meadow);
  color: white;
}
.react-datepicker__day--keyboard-selected:not([aria-disabled='true']):hover,
.react-datepicker__month-text--keyboard-selected:not([aria-disabled='true']):hover,
.react-datepicker__quarter-text--keyboard-selected:not([aria-disabled='true']):hover,
.react-datepicker__year-text--keyboard-selected:not([aria-disabled='true']):hover,
.react-datepicker__day:not([aria-disabled='true']):hover,
.react-datepicker__month-text:not([aria-disabled='true']):hover,
.react-datepicker__quarter-text:not([aria-disabled='true']):hover,
.react-datepicker__year-text:not([aria-disabled='true']):hover {
  border-radius: 100%;
}
.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  width: 2.4rem;
  line-height: 2.4rem;
  margin: 0;
}
.react-datepicker__view-calendar-icon {
  align-items: center;
  && {
    display: inline-flex;
  }
}

/* WheelItem transform styles */
.wheel-item {
  transform: translateY(var(--translate-y)) rotateX(var(--rotation)) scale(var(--scale));
  opacity: var(--opacity);
  transform-style: preserve-3d;
}

/**
 * 스크롤바 스타일 통일
 */
html {
  scrollbar-width: auto;
  scrollbar-gutter: auto;
  scrollbar-color: auto;
}
/* 혹시 나중에 진짜 스타일링을 하고 싶은 경우를 위해 남겨둠 */
/* ::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-mountain_meadow);
} */

/**
 * 터치가능한 기기인지 감지
 * https://developer.mozilla.org/en-US/docs/Web/CSS/@media/pointer
 * https://caniuse.com/css-media-interaction
 */
@media (pointer: coarse) {
  html {
    scrollbar-width: thin;
    scrollbar-gutter: stable;
    scrollbar-color: var(--color-mountain_meadow);
  }
}
